<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>My Flask App</title>
    <script src="/static/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>Welcome to my Flask app!</h1>

<div id = "todo">
    <h2>Eliga que tabla desea modificar</h2>
    <select id="dropdown1" name="dropdownTabla">
        <option value="Autor">Autor</option>
        <option value="Libro">Libro</option>
        <option value="Edicion">Edicion</option>
        <option value="Copia">Copia</option>
        <option value="Usuario">Usuario</option>
        <option value="Prestamo">Prestamo</option>

    </select>

    <div id="fieldsAutor">
        <h3>Autor</h3>
        <select id="dropdownAutores" name="dropdownAutores">
            <option value="Insertar">Insertar</option>
            <option value="Actualizar">Actualizar</option>
            <option value="Borrar">Borrar</option>
        </select>

        <div id = "autorInsertar">
            <h4>Insertar Autor</h4>
            <input type="text" id="inputAutorInsertar1" placeholder="Nombre del autor...">
            <button id="autorInsertarButton" type="button">Insertar</button>
        </div>

        <div id = "autorActualizar" style="display: none;">
            <h4>Actualizar Autor</h4>
            <input type="text" id="inputAutorActualizar1" placeholder="Nombre anterior...">
            <input type="text" id="inputAutorActualizar2" placeholder="Nombre nuevo">
            <button id="autorActualizarButton" type="button">Actualizar</button>
        </div>

        <div id = "autorBorrar" style="display: none;">
            <h4>Borrar Autor</h4>
            <input type="text" id="inputAutorBorrar" placeholder="Nombre del autor...">
            <button id="autorBorrarButton" type="button">Borrar</button>
        </div>
    </div>
    
    <div id="fieldsLibro" style="display: none;">
        <h3>Libro</h3>
        <select id="dropdownLibro" name="dropdownLibro">
            <option value="Insertar">Insertar</option>
            <option value="Actualizar">Actualizar</option>
            <option value="Borrar">Borrar</option>
        </select>

        <div id = "libroInsertar">
            <h4>Insertar Libro</h4>
            <input type="text" id="inputLibroInsertar" placeholder="Ingrese titulo del libro">
            <input type="text" id="inputLibroInsertar1" placeholder="Ingrese el nombre de su autor">
            <input type="text" id="inputLibroInsertar2" placeholder="Ingrese el ISBN">
            <button id="libroInsertarButton" type="button">Insertar</button>
        </div>

        <div id = "libroActualizar" style="display: none;">
            <h4>Actualizar Libro</h4>
            <input type="text" id="inputLibroActualizar1" placeholder="Ingrese titulo anterior">
            <input type="text" id="inputLibroActualizar2" placeholder="Ingrese titulo nuevo">
            <button id="libroActualizarButton" type="button">Actualizar</button>
        </div>

        <div id = "libroBorrar" style="display: none;">
            <h4>Borrar Libro</h4>
            <input type="text" id="inputLibroBorrar" placeholder="Ingrese titulo del libro">
            <button id="libroBorrarButton" type="button">Borrar</button>
        </div>
    </div>
    
    <div id="fieldsEdicion" style="display: none;">
        <h3>Edicion</h3>
        <select id="dropdownEdicion" name="dropdownEdicion">
            <option value="Insertar">Insertar</option>
            <option value="Actualizar">Actualizar</option>
            <option value="Borrar">Borrar</option>
        </select>

        <div id = "edicionInsertar">
            <h4>Insertar Edicion</h4>
            <input type="text" id="inputEdicionInsertar1" placeholder="Ingrese ISBN">
            <input type="text" id="inputEdicionInsertar2" placeholder="Ingrese año">
            <input type="text" id="inputEdicionInsertar3" placeholder="Ingrese Idioma">
            <button id="edicionInsertarButton" type="button">Insertar</button>
        </div>

        <div id = "edicionActualizar" style="display: none;">
            <h4>Actualizar Edicion</h4>
            <input type="text" id="inputEdicionActualizar1" placeholder="Ingrese ISBN">
            <button id="edicionActualizarButton1" type="button">Buscar</button>
            <input type="text" id="inputEdicionActualizar2" placeholder="Nuevo ISBN">
            <input type="text" id="inputEdicionActualizar3" placeholder="Nuevo año">
            <input type="text" id="inputEdicionActualizar4" placeholder="Nuevo Idioma">
            <button id="edicionActualizarButton2" type="button">Actualizar</button>
        </div>

        <div id = "edicionBorrar" style="display: none;">
            <h4>Borrar Edicion</h4>
            <input type="text" id="inputEdicionBorrar" placeholder="Ingrese ISBN">
            <button id="edicionBorrarButton" type="button">Borrar</button>
        </div>
    </div>

    <div id="fieldsCopia" style="display: none;">
        <h3>Copia</h3>
        <select id="dropdownCopia" name="dropdownCopia">
            <option value="Insertar">Insertar</option>
            <option value="Borrar">Borrar</option>
        </select>

        <div id = "copiaInsertar">
            <h4>Insertar Copia</h4>
            <input type="text" id="inputCopiaInsertar1" placeholder="Ingrese numero">
            <input type="text" id="inputCopiaInsertar2" placeholder="Ingrese ISBN">
            <button id="copiaInsertarButton" type="button">Insertar</button>
        </div>

        <div id = "copiaBorrar" style="display: none;">
            <h4>Borrar Copia</h4>
            <input type="text" id="inputCopiaBorrar" placeholder="Ingrese numero">
            <button id="copiaBorrarButton" type="button">Borrar</button>
        </div>
    </div>

    <div id="fieldsUsuario" style="display: none;">
        <h3>Usuario</h3>
        <select id="dropdownUsuario" name="dropdownUsuario">
            <option value="Insertar">Insertar</option>
            <option value="Actualizar">Actualizar</option>
            <option value="Borrar">Borrar</option>
        </select>

        <div id = "usuarioInsertar">
            <h4>Insertar Usuario</h4>
            <input type="text" id="inputUsuarioInsertar1" placeholder="Ingrese RUT del usuario">
            <input type="text" id="inputUsuarioInsertar2" placeholder="Ingrese nombre del usuario">
            <button id="usuarioInsertarButton" type="button">Insertar</button>
        </div>

        <div id = "usuarioActualizar" style="display: none;">
            <h4>Actualizar Usuario</h4>
            <input type="text" id="inputUsuarioActualizar1" placeholder="Ingrese RUT del usuario a actualizar">
            <button id="usuarioActualizarButton1" type="button">Buscar</button>
            <input type="text" id="inputUsuarioActualizar2" placeholder="Ingrese nuevo RUT">
            <input type="text" id="inputUsuarioActualizar3" placeholder="Ingrese nuevo nombre">
            <button id="usuarioActualizarButton2" type="button">Actualizar</button>
        </div>

        <div id = "usuarioBorrar" style="display: none;">
            <h4>Borrar Usuario</h4>
            <input type="text" id="inputUsuarioBorrar" placeholder="Ingrese RUT del usuario a borrar">
            <button id="usuarioBorrarButton" type="button">Borrar</button>
        </div>
    </div>

    <div id="fieldsPrestamo" style="display: none;">
        <h3>Prestamo</h3>
        <select id="dropdownPrestamo" name="dropdownPrestamo">
            <option value="Insertar">Insertar</option>
            <option value="Actualizar">Actualizar</option>
            <option value="Borrar">Borrar</option>
        </select>

        <div id = "prestamoInsertar">
            <h4>Insertar Prestamo</h4>
            <input type="date" id="inputPrestamoInsertar1" placeholder="Ingrese fecha de devolucion">
            <input type="date" id="inputPrestamoInsertar2" placeholder="Ingrese fecha de prestamo">
            <input type="text" id="inputPrestamoInsertar3" placeholder="Ingrese rut">
            <input type="text" id="inputPrestamoInsertar4" placeholder="Ingrese codigo de la copia">
            <button id="prestamoInsertarButton" type="button">Insertar</button>
            
        </div>

        <div id = "prestamoActualizar" style="display: none;">
            <h4>Actualizar Prestamo</h4>
            <input type="text" id="inputPrestamoActualizar1" placeholder="Ingrese numero de la copia">
            <button id="prestamoActualizarButton1" type="button">Ver</button>
            <input type="date" id="inputPrestamoActualizar2" placeholder="Ingrese fecha de prestamo">
            <input type="date" id="inputPrestamoActualizar3" placeholder="Ingrese fecha de devolucion">
            <button id="prestamoActualizarButton2" type="button">Actualizar</button>
        </div>

        <div id = "prestamoBorrar" style="display: none;">
            <h4>Borrar Libro</h4>
            <input type="text" id="inputPrestamoBorrar1" placeholder="Ingrese numero de copia">
            <button id="prestamoBorrarButton" type="button">Borrar</button>
        </div>
    </div>
</div>
<div id = "todo2" style="display: none;">
<table id = "miTabla">
    <thead>
        <tr>
            <th>Columna 1</th>
            <th>Columna 2</th>
            <th>Columna 3</th>
            <th>Columna 4</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dato 1</td>
            <td>Dato 2</td>
            <td>Dato 3</td>
        </tr>
        <tr>
            <td>Dato 4</td>
            <td>Dato 5</td>
            <td>Dato 6</td>
        </tr>
    </tbody>
</table>
<div id = "botonesConsulta">
    <button id="consulta1" type="button">Consulta 1</button>
    <button id="consulta2" type="button">Consulta 2</button>
</div>
</div>

<button id="consultasShow" type="button">Ir a Consultas  >></button>
<button id="consultasHide" type="button"  style="display: none;"> << Volver </button>
</body>
</html>