<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>My Flask App</title>
    <script src="/static/main.js"></script>
</head>
<body>
    <h1>Welcome to my Flask app!</h1>
    <h2>Eliga que tabla desea modificar</h2>
    <select id="myDropdown" name="myDropdown">
        <option value="option1">Libros</option>
        <option value="option2">Autores</option>
        <option value="option3">Edicion</option>
    </select>
    <button id="myButton" type="button" onclick="myFunction()">Click Me!</button>
</body>
</html>